/* Input data */

.tr-input-head ::first-child th {
	min-width: 250px;
}

.tr-input-head th {
	width: 100px;
}

.tr-input-row .button {
	min-width: 140px;
}


/* Results */

div.result-table {
    width: 960px;
    overflow-x: scroll;
    margin-bottom: 5em;
}


.table-results tbody td {
	height: 40px;
	min-width: 35px;
}

.table-results tbody td:first-child, .table-results thead th:first-child {
	min-width: 150px;
}

.cpu {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
	background: #DB4B6A;
}

.io {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
	background: #653BFF
}


.input-value {
	width: 70px !important;
}

.input-value-large {
	width: 180px !important;
}


.input-label {
	font-weight: bolder;
	font-size: 1em;
	margin: 0.1em;
}

#div-checkbox {
	padding-top: 1.9em;
}
