/* Input data */

.tr-input-head ::first-child th {
	min-width: 250px;
}

.tr-input-head th {
	width: 100px;
}

.tr-input-row .button {
	min-width: 140px;
}

.input-value {
	width: 70px !important;
}

.input-value-large {
	width: 180px !important;
}

.fix-box-sizing {
	box-sizing: content-box;
}

.input-label {
	font-weight: bolder;
	font-size: 1em;
	margin: 0.1em;
}

#div-checkbox {
	padding-top: 1.9em;
}

.dropdown {
	z-index: 100;
}


/* Results */
.table-results {
	max-width: 906px;
    overflow-x: scroll;
    margin-bottom: 10em;
	border: 1px solid rgba(34,36,38,.1);
}

.table-results tbody td {
	height: 40px;
	min-width: 35px;
}

.table-results tbody td:first-child,
.table-results thead th:first-child {
	min-width: 150px;
}

.ui.table.table-results tbody td {
	-webkit-transition: all linear 0.1s; /* Safari and Chrome */
	-moz-transition: 	all linear 0.1s; /* Firefox */
	-o-transition: 		all linear 0.1s; /* Opera */
	transition: 		all linear 0.1s;
}

.cpu {
	background: #DB4B6A;
}

.io {
	background: #653BFF
}
